<main class="main-content mt-0">
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-start bg-transparent">
                <div class="d-flex justify-content-center">
                  <img src="content/assets/images/logo.png" class="navbar-brand-img max-height-100" style="filter: drop-shadow(2px 4px 6px black);" alt="main_logo">
                </div>
                <p class="mb-0">Enter your email and password to sign in</p>
              </div>
              <div class="card-body">
                <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      aria-label="username"
                      formControlName="username"
                      data-cy="username"
                      #username
                      id="username"
                      placeholder="{{ 'global.form.username.placeholder' | translate }}"
                    />
                  </div>
                  <div class="mb-3 input-group form-password-toggle">
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      style="padding: 12px"
                      id="password"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      formControlName="password"
                      data-cy="password"
                      [type]="mergedPwdShow ? 'text' : 'password'"
                      [class.is-invalid]="
                        loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)
                      "
                    />
                    <div class="input-group-append" (click)="mergedPwdShow = !mergedPwdShow">
                      <span
                        class="input-group-text cursor-pointer h-100 border-bottom-start-radius-0 border-top-start-radius-0 border-end"
                        *ngIf="mergedPwdShow"
                        [class.is-invalid]="
                          loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)
                        "
                      >
                        <i jhiDataFeather="eye-off"></i>
                      </span>
                      <span
                        class="input-group-text cursor-pointer h-100 border-bottom-start-radius-0 border-top-start-radius-0 border-end"
                        *ngIf="!mergedPwdShow"
                        [class.is-invalid]="
                          loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)
                        "
                      >
                        <i jhiDataFeather="eye"></i>
                      </span>
                    </div>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input bg-gradient-primary" type="checkbox" id="rememberMe" formControlName="rememberMe" name="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Don't have an account?
                  <a href="javascript:;" class="text-primary text-gradient font-weight-bold">Sign up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
